@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Open+Sans&family=Roboto&display=swap');
.default-fonts *{
    font-family: monospace;
}
.segoeUI-fonts *{
    font-family: 'Segoe UI';
}
.inconsolata-google-fonts *{
    font-family: 'Inconsolata';
}
.roboto-google-fonts *{
    font-family: 'Roboto';
}
.open-sans-google-fonts *{
    font-family: 'Open Sans';
}