html,body{
    margin: 0 !important;
    padding: 0;display: flex;flex-direction: column;
}
textarea,input,select{
    resize: vertical;
    max-height: 60vh;
    outline: none;
    border: 1px dashed red;
    margin: auto 8px !important;
    width: calc(100vw - 24px);
}
.outputBlock{
    width: 60vw;
    resize: both;
}
div.menubar{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px dashed black;
}
div.menubar *{
    color: rgb(0, 0, 0);
}
@media print {
    page-break{
        page-break-after: always;
        color: transparent !important;
    }
}
page-break
{
    color: red;
    display: block;
    text-align: center;
}
pre{
    margin: 0;
}
.operations{
    margin-left:4px;
}
.swm{
    text-align: right;
}
.site-wm,.date-wm{
    display: inline-flex;
    vertical-align: middle;
    margin: 10px 1px;
    font-size: 12px;
}
.site-wm{
    border: 1px dashed black;
    padding-right: 3px;
}
.site-wm span,.date-wm span{
    margin: auto 0;
}
.site-wm img,.date-wm img{
    height: 12px;
    margin: 3px;
    vertical-align: middle;
}
.site-wm a{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.outputBlock{
    margin: auto;
}
button{
    margin: 3px;
}
.wm span{
    padding-left: 10px;
}
span.filename{
    padding-right: 10px;
}
.img img{
    max-width: calc(100% - 20px);
}
p.output *{
    white-space: pre;   
}
p.output,p.op-header{
    padding-left: 2px;
}
p *
{
    word-wrap: break-word;
}
.imageOutput > img{
    max-height: 550px;
}