html,body{
    margin: 0 !important;
    padding: 0;display: flex;flex-direction: column;
}
textarea,input,select{
    resize: vertical;
    max-height: 60vh;
    outline: none;
    border: 1px dashed red;
    margin: auto 8px !important;
    width: calc(100vw - 24px);
}
.outputBlock{
    width: 60vw;
    resize: both;
}
p{
    margin: 0 !important;
    border-left: 5px solid black;
    border-right: 1px solid black;
}
p.output,.wm{
    border-right: 1px solid black;
}
p.wm{
    font-size: 14px;
    color: rgb(0, 0, 0) !important;
    border-bottom: 1px solid black;
}
p.filenames{
    border-top: 1px solid black;
    border-bottom: 1px dashed black;
}
p:not(.input,.filenames){
    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
}
.outputBlock{
    margin: auto;
}
button{
    margin: 3px;
}
.wm span{
    padding-left: 10px;
}
span.filename{
    padding-right: 10px;
}
.img img{
    max-width: calc(100% - 20px);
}
p.output *{
 white-space: pre;   
}
div.menubar{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px dashed black;
}
div.menubar *{
    color: rgb(0, 0, 0);
}
@media print {
    .list-pb .outputBlock{page-break-after: always;}
}
pre{
    margin: 0;
}
p.input,p.output,p.filenames{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word; 
    font-size: large;
}
span.ln{
    background-color: white;
    margin-right: 10px;
    border-right: 1px solid black;
    user-select: none;
}
.operations{
    margin-left:4px;
}